extends layout

block content
  form(action='/submit-form', method='POST')
    div.input
      input#term.form-control(type="text", placeholder="Search" name="title")
    div.actions
      input(type="submit", value="search")
