body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightgrey;
}

li a:hover {
    background-color: antiquewhite;
}

#about {
    float: right;
}

input[type=text] {
    width: 80%;
    float: left;
    border: 2px solid grey;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=submit] {
    width: 19%;
    border: none;
    position: relative;
    float: right;
    text-align: center;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
}

#gameObjContent {
    background-color: antiquewhite;
    text-align: center;
    padding-bottom: 50%;
    margin-top: 40px;
}

#gameObj {
    position: fixed;
    background-color: white;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    margin-top: 40px;
    font-size: 40px;
}

#head {
    position: relative;
    border-bottom: 2px solid grey;
}

#gameDeveloper {
    position: relative;
    font-size: 25px;
}
